{% extends 'navbar.html' %}
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Biuro dla łowców przygód</div>
        <div class="masthead-heading text-uppercase">POZNAJ NAS</div>

    </div>
</header>
<br>
    <h1 class="text-center">Adventure Tours- Biuro podróży</h1>
    <div>
        <p class="align-center" id="about">
            Przewodnikiem turystycznym może być osoba, która posiada uprawnienia określone ustawą z dnia 29 sierpnia
            1997 r. o usługach hotelarskich oraz usługach pilotów wycieczek i przewodników turystycznych (Dz.U. z 2017
            r. poz. 1553). Funkcja przewodnika turystycznego to przede wszystkim sumienne sprawowanie opieki nad
            uczestnikami podczas oprowadzania wycieczek, jak również fachowe udzielanie im informacji o kraju,
            odwiedzanych miejscowościach, obszarach i obiektach. Po deregulacji w roku 2013 w ustawie pozostały zapisy
            jedynie o przewodnikach górskich (zniesiona została także kategoria przewodników wysokogórskich na rzecz
            przewodników tatrzańskich II i I klasy).

            Rozróżniano 4 kategorie przewodników turystycznych:

            przewodnik górski dla określonych obszarów górskich (Beskidy, Tatry, Sudety),
            przewodnik miejski dla poszczególnych miast oraz obszarów i obiektów znajdujących się w strefie
            podmiejskiej, jeżeli są one związane z historią, kulturą lub gospodarką miasta,
            przewodnik terenowy dla poszczególnych województw lub regionów (włącznie z miastami położonymi w obrębie
            województwa lub regionu),
            przewodnik wysokogórski międzynarodowy bez ograniczeń terytorialnych.
         </p>
    </div>
 <section>

 </section>
    {% include 'footer.html' %}
{% endblock %}