{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToursApp</title>
    {#    <link rel="stylesheet" href="{% static "styles/css/bootstrap.min.css" %}">#}
    <link href="{% static 'styles/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        #foto {
            height: 600px;
            width: 900px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
{% include 'navbar.html' %}
<div>
    <h1>Adventure Tours- podróże poza trasą</h1>
    <img id="foto" src="{% static 'images/chewsur.jpg' %}" alt="home">
    {% block content %}
    {% endblock %}

</div>
</body>
</html>