{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Wycieczki do Gruzji</div>
        <div class="masthead-heading text-uppercase">Adventure Tours</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Pokaż wycieczki</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="text-uppercase">Podróże do Gruzji</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-biking fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Aktywnie</h4>
                <p class="text-muted"> Trekingi górskie na Kaukazie</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-route fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Wycieczki kulturowe</h4>
                <p class="text-muted">Poznaj Gruzję, jej kulturę, kuchnię i najwazniejsze miejsca</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-hiking fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Przygoda</h4>
                <p class="text-muted">Off road 4x4, noclegi u gospodarzy, dzikie gorące źródła</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"><a href="{% url 'tourlist' %}"> Sprawdź terminy</a></h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                 <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'tourlist' %}" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/home.jpg' %}" alt="gruzja">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading" >Treking</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'tourlist' %}" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/gruzja.JPG' %}" href="{% url 'tourlist' %}" alt="gruzja">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Wine Tour</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'tourlist' %}" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/auto.JPG' %}"  href="{% url 'tourlist' %}" alt="gruzja">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Off Road</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'tourlist' %}" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/taniec.JPG' %}"  href="{% url 'tourlist' %}" alt="gruzja">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Kulturowo</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'tourlist' %}" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/zima2.JPG' %}"  href="{% url 'tourlist' %}" alt="gruzja">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Narty w Gruzji</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'tourlist' %}" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/fotopoza.JPG' %}"  href="{% url 'tourlist' %}" alt="gruzja">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Fotowyprawy</div>
{#                        <div class="portfolio-caption-subheading text-muted">Photography</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"><a href="{% url 'about' %}"> O nas </a></h2>
            <h3 class="section-subheading text-muted">Grupa zajawkowiczów Kaukazu.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                 src="{% static 'templatestyle/assets/img/about/1.jpg' %}"
                                                 alt="">

                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasja od 2014 roku</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Kto trafił do Gruzji, musi spłacić daninę tutejszym obyczajom. Kto tu trafi, będzie wprowadzony w rytuał biesiady, która dla Gruzina jest smakiem życia. Gruzin ucztuje przy każdej okazji. </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                 src="{% static 'templatestyle/assets/img/about/2.jpg' %}"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Przygoda</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Gruzja wydaje się ogromna, bezgraniczna jak ocean. Góry pomnażają krajobraz. Wystarczy przejechać kilometr dalej, wystarczy minąć jakieś zbocze, wejść na skałę albo opuścić się w dolinę. </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                 src="{% static 'templatestyle/assets/img/about/3.jpg' %}"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Profesjonalizm</h4>
                        <h4 class="subheading">potwierdzony wieloma rekomendacjami</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">"Świetnie zachowany balans pomiędzy potrzebą pewnej dyscypliny czasowej ,a spokojnym niespiesznym napawaniem się urokami Gruzji.Wartościa dodaną było spotkanie grupy niesamowitych ludzi..."</p></div>
                </div>
            </li>


        </ul>
    </div>
</section>
 {% include 'footer.html' %}

{% endblock %}
