{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

            <div class="masthead-heading text-uppercase"> Kategoria: {{ category.type }}</div>


        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'tourlist' %}">Powrót do listy wycieczek</a>
    </div>
</header>

{% for item in category.types.all %}
    <section class="page-section bg-light" id="portfolio2">
        <div class="col-lg-4 col-sm-6 mb-4" id="kafelkiwycieczek">
            <!-- Portfolio item 1-->
            <div class="portfolio-item">
                <a href="/wycieczka/{{ item.id }}"> <img class="img-fluid" src="{% static 'images/mapa.png' %}"
                                                         alt="gruzja"></a>
                <div class="portfolio-caption">
                    <h2 class="text-center">{{ item.tour_name }}</h2>
                    <div class="text-center">
                        <a class="btn btn-primary btn-xl text-uppercase"
                           href="/wycieczka/{{ item.id }}">Plan Wycieczki</a>
                    </div>
                    <br>
                    {% if user.is_superuser %}
                        <div class="text-center">
                            <a class="btn btn-primary text-center" href="{% url 'tourupdate' item.id %}">Edytuj </a>
                            <a class="btn btn-secondary text-center" href="{% url 'tourdelete' item.id %}">Usuń </a><br>
                        </div>
                    {% endif %}
                    <div class="text-left">
                        <ul class="table">
                            <a id="tourlist">ILOŚĆ DNI: </a> {{ item.tour_days }}<br>
                            <a id="tourlist">ROZPOCZĘCIE: </a> {{ item.tour_start|date:'d-m-Y' }} <br>
                            <a id="tourlist">POWRÓT: </a> {{ item.tour_end|date:'d-m-Y' }}<br>
                            <a id="tourlist">RODZAJ WYCIECZKI: </a>{{ item.category }}<br>
                            <a class="btn btn-secondary">CENA: {{ item.tour_price }} PLN </a><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </section>
    {% empty %}
    <div class="align-center text-center"><a>SPRAWDŹ WYCIECZKI Z INNYCH KATEGORII</a></div>

{% endfor %}

<section>

</section>
<footer class="footer py-4 bg-black">
    <div class="container">
        <div class="row align-items-center">
             {% if user.is_superuser %}
            <div>
                <a class="nav-item nav-link" href="{% url 'addtour' %}">Dodaj Nową Wycieczkę </a>
                <a class="nav-item nav-link" href="{% url 'reservationlist' %}"> Lista rezerwacji</a>
            </div>
            {% endif %}
            <div class="text-white-50 float-lg-start"> Copyright &copy; Wojtek Ziółkowski for Coders Lab</div>
            <div class="col-lg-4 my-3 my-lg-0">
            </div>

        </div>
    </div>
</footer>
{% endblock %}


