{% extends 'navbar.html' %}
{% block content %}

<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">SKONTAKTUJ SIĘ Z NAMI</div>
        <a class="btn btn-primary btn-xl text-uppercase" href='#kontakt'>Wypełnij formularz</a>
    </div>
</header>

{% if messageSent %}
    <div class="container">
        <h3><strong>Dziękujemy za wiadomość</strong></h3>
        <p>Email został wysłany</p>
          <div class="text-center">
                        <a class="btn btn-primary text-center" href="{% url 'tourlist' %}">Powrót do listy wycieczek</a>
          </div>
    </div>
{% else %}
    <br>
<div id="kontakt">
</div>

<div class="align-center">
       <div class="container">
           <br><br>
        <a  class="fw-bolder">ZAPRASZAMY DO KONTAKTU DO NASZYCH DWÓCH BIUR</a><br>
      <a>POLSKA:<br>
          Wojtek Ziółkowski<br>
       Karpia 25 61-619 Poznań<br>
       kontakt: wojciech.ziolkow@gmail.com<br>
       <br>
       GRUZJA:<br>
          Valter Planishvili<br>
       Varketili 5, Tbilisi<br>
       kontakt: wojciechziolkowskiproject@gmail.com<br>
       </a>
    <br><br>
    </div>
    <div class="container">
    <div id="kontakt" class="fw-bolder">WYPEŁNIJ FORMULARZ:</div>


    <div>
        <br>
    </div>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <div class="text-left">
                    <input type="submit"  class="btn btn-primary" style="width: 150px" value="Wyślij" />
                </div>
            </form>

    </div>
</div>
{% endif %}



<section>

</section>
    <footer class="footer py-4 bg-black">
        <div class="container">
            <div class="row align-items-center">
                <div class="text-white-50">Copyright &copy; Wojtek Ziółkowski for Coders Lab</div>
                <div class="col-lg-4 my-3 my-lg-0">
                </div>
                {#                    <div class="col-lg-4 text-lg-end">#}
                {#                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>#}
                {#                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>#}
                {#                    </div>#}
            </div>
        </div>
    </footer>
{% endblock %}