{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">ZAREZERWUJ WYCIECZKĘ</div>
    </div>
</header>
<br>
<div id = "rez">

</div>
<div class="container" id="kontakt">
     <a class="fw-bolder">WYPEŁNIJ FORMULARZ</a><br>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" style="width: 150px" value="Zarezerwuj"/>
</form>
</div>


<section>


</section>
 {% include 'footer.html' %}
{% endblock %}