{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">PODZIEL SIĘ SWOIMI WRAŻENIAMI</div>
          {% if user.is_authenticated %}
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'addreview' %}">Dodaj nową opinię</a>
        {% endif %}
    </div>
</header>

{% for item in reviews %}
    <section class="page-section" id="about">
    <div class="container">
    <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid"
                                             src="{% static 'templatestyle/assets/img/about/2.jpg' %}"
                                             alt="">
                alt="..."/>
            </div>
            <div class="timeline-panel">
                <div>
                    <a id="review">
                        <a class="fw-bolder">{{ item.user_name }} <br></a>
                       <a class="fst-italic"> "{{ item.user_review }}"</a> <br>
                    </a>
                </div>
            </div>
        </li>
    </ul>

{% endfor %}
</div>
</section>

<section>

</section>
 {% include 'footer.html' %}
{% endblock %}