{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">PODZIEL SIĘ SWOIMI WRAŻENIAMI</div>

    </div>
</header>
<br>
<div class="container" id="kontakt">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" style="width: 150px" value="Wyślij opinię"/>
</form>
</div>


<section>

</section>
<footer class="footer py-4 bg-black">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-white-50">Copyright &copy; Wojtek Ziółkowski for Coders Lab</div>
            <div class="col-lg-4 my-3 my-lg-0">
            </div>
            {#                    <div class="col-lg-4 text-lg-end">#}
            {#                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>#}
            {#                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>#}
            {#                    </div>#}
        </div>
    </div>
</footer>
{% endblock %}



