{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">PODZIEL SIĘ SWOIMI WRAŻENIAMI</div>
          {% if user.is_authenticated %}
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'addreview' %}">Dodaj nową opinię</a>
        {% endif %}
    </div>
</header>

{% for item in reviews %}
    <section class="page-section" id="about">
    <div class="container">
    <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid"
                                             src="{% static 'templatestyle/assets/img/about/2.jpg' %}"
                                             alt="">
                alt="..."/>
            </div>
            <div class="timeline-panel">
                <div>
                    <a id="review">
                        <a class="fw-bolder">{{ item.user_name }} <br></a>
                       <a class="fst-italic"> "{{ item.user_review }}"</a> <br>
                    </a>
                </div>
            </div>
        </li>
    </ul>

{% endfor %}
</div>
</section>

<section>

</section>
<footer class="footer py-4 bg-black">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-white-50">Copyright &copy; Wojtek Ziółkowski for Coders Lab</div>
            <div class="col-lg-4 my-3 my-lg-0">
            </div>
            {#                    <div class="col-lg-4 text-lg-end">#}
            {#                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>#}
            {#                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>#}
            {#                    </div>#}
        </div>
    </div>
</footer>
{% endblock %}