{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">PODZIEL SIĘ SWOIMI WRAŻENIAMI</div>

    </div>
</header>
<br>
<div class="container" id="kontakt">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" style="width: 150px" value="Wyślij opinię"/>
</form>
</div>


<section>

</section>
 {% include 'footer.html' %}
{% endblock %}



