{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">Zarejestruj się</div>
        <a class="btn btn-primary btn-xl text-uppercase" href='#loginbutton'>Przejdź do logowania</a>
    </div>
</header>
<br>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="loginbutton" type="submit">Zarejestruj</button>
  </form>


    <section>

    </section>
 {% include 'footer.html' %}
{% endblock %}