{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">Zarejestruj się</div>
        <a class="btn btn-primary btn-xl text-uppercase" href='#loginbutton'>Przejdź do logowania</a>
    </div>
</header>


  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="loginbutton" type="submit">Zarejestruj</button>
  </form>


    <section>

    </section>
    <footer class="footer py-4 bg-black">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-white-50">Copyright &copy; Wojtek Ziółkowski for Coders Lab</div>
            <div class="col-lg-4 my-3 my-lg-0">
            </div>
            {#                    <div class="col-lg-4 text-lg-end">#}
            {#                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>#}
            {#                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>#}
            {#                    </div>#}
        </div>
    </div>
</footer>
{% endblock %}