{% extends 'navbar.html' %}
{% block content %}

    <h1 class="text-center">Szczegóły wycieczki</h1>
    <div class="card p-2">
        <div class="card-body">
            <li class="list-group-item m-1">
                <a>NAZWA WYCIECZKI:</a> {{ object.tour_name }} </br>
                <a>ILOŚĆ DNI:</a> {{ object.tour_days }} </br>
                <a>RODZAJ WYCIECZKI:</a>{{ object.tour_type }} </br>
                <a>KRAJ:</a> {{ object.tour_country }} </br>

            </li>
        </div>
    </div>
{% endblock %}