{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Zarezerwuj dzisiaj!</div>
        <div class="masthead-heading text-uppercase"><br>
            {{ tour.name }}</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'reservation' %}"> PRZEJDŹ DO REZERWACJI</a>
    </div>
</header>

<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase"> Plan Wycieczki {{ tour.name }}</h3>
            <h4> {{ tour.start_date|date:'d/m/Y' }} -
                {{ tour.end_date|date:'d/m/Y' }}</h4>
            <img class="img-fluid" id="fotodetails" src="{% static 'images/mapa.png' %}" alt="home">
        </div>
    </div>
{% if user.is_authenticated %}
    <a href="{% url 'reservation' %}"><input type="submit" class="btn btn-primary" style="width: 250px"
                                             value="Zarezerwuj wycieczkę "/></a>
    {% else %}
    <a href="{% url 'login' %}"><input type="submit" class="btn btn-primary" style="width: 250px"
                                             value="Zaloguj się, żeby zarezerwować "/></a>

{% endif %}
</div>


<div class="dashboard-content border-dashed p-3 m-4 view-height">

    {% for day in tour.get_all_tour_attractions %}
        <th class="col-2"><h2> {{ day.0 }}</h2></th>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th class="col-2">Atrakcje</th>
                <th class="col-2">Region</th>
                <th class="col-2">Rodzaj Atrakcji</th>
                <th class="col-2">Opis</th>
            </tr>
            </thead>

            <tbody class="text-color-lighter">
            {% for attraction in day.1 %}
                <tr class="d-flex">
                    <td class="col-2"> {{ attraction.attraction.name }}</td>
                    <td class="col-2"> {{ attraction.attraction.region }}</td>
                    <td class="col-2">
                        {{ attraction.attraction.get_type_display }}</td>
                    <td class="col-2">{{ attraction.attraction.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br><br><br><br>
    {% endfor %}
</div>
<div class="dashboard-content border-dashed p-3 m-4 view-height">
   {% if user.is_authenticated %}
    <a href="{% url 'reservation' %}"><input type="submit" class="btn btn-primary" style="width: 250px"
                                             value="Zarezerwuj wycieczkę "/></a>
{% endif %}
</div>

<section>

</section>

 {% include 'footer.html' %}

{% endblock %}
