{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container">

        <div class="masthead-heading text-uppercase">USUŃ WYCIECZKĘ <br>
            {{ tour.tour_name }}</div>
    </div>
</header>

<div class="text-center">
<h2>Czy na pewno chcesz usunąć wycieczkę {{ object.tour_name }} ?</h2>
    <form method="post" class="bg-light">
        {% csrf_token %}
        {{ form.as_p }}
       <input type="submit" id="loginbutton" value="Usuń Wycieczkę">
    </form>
    </div>
    <section>

</section>
 {% include 'footer.html' %}
{% endblock %}