{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToursApp</title>
    <link href="{% static 'styles/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

{% include 'navbar.html' %}
<h1 class="text-center">Wycieczki</h1>
<a class="btn btn-secondary" href="{% url 'addtour' %}">Dodaj Nową Wycieczkę </a>
{% for item in objects %}
    <ul class="list-group">
        <li class="list-group-item m-1"> NAZWA: {{ item.tour_name }}
            <ul class="list-group">
                <a class="btn btn-primary" href="{% url 'tourdetails' item.id %}">Szczegóły </a>
                <a class="btn btn-secondary" href="{% url 'tourupdate' item.id %}">Edytuj </a>
                <a class="btn btn-danger" href="{% url 'tourdelete' item.id %}">Usuń </a>

            </ul>
        </li>

    </ul>
{% endfor %}
</div>
</body>
</html>